mixin order(data = {})
  -
    const {

    } = data;
  section.order#order
    h2.order__title Как оставить заявку?

    .order__data
      span.order__text.order__text--cta Просто позвоните нам по номеру
      +button({
        tag: 'a',
        href: 'tel:89851561714',
        text: '+7 985 156 17 14',
        mod: 'link',
        extraClass: 'order__tel',
        attrs: { target: '_self' }
      })
    b.order__divider или
    ol.order__list
      li.order__item
        p.order__text Скачайте анкету
        +button({
          tag: 'a',
          href: 'files/document.doc',
          text: 'Скачать анкету .doc',
          mod: 'dark',
          extraClass: 'order__download',
          attrs: {download: 'MyDocument.doc', target: '_self' }
        })
      li.order__item
        p.order__text Заполните анкету
      li.order__item
        p.order__text 
          | Пришлите заполненную анкету на наш email: 
          +button({
            tag: 'a',
            href: 'mailto:info@balanceme.ru',
            text: 'info@balanceme.ru',
            mod: 'mail',
            extraClass: 'order__text-link',
            attrs: { target: '_self' }
          })
          | и мы с вами свяжемся в кратчайшие сроки