.order {
    width: 100%;
    @include flex-setting(column, flex-start, flex-start);
    padding: toRem(110) toPc(12px, 360px) toRem(98) toPc(12px, 360px);
    gap: toRem(39);

    @include min-screen(740px) {
        padding: toRem(170) toPc(46px, 740px) toRem(100) toPc(46px, 740px);
        gap: 0;
    }

    @include min-screen(1200px) {
        padding-left: toRem(46);
        padding-right: toRem(46);
    }

    &__title {
        @include font-setting(var(--primary-font), toRem(36), 110%, 500, var(--black-color));
		text-align: left;

        @include min-screen(740px) {
            font-size: toRem(56);
            margin-bottom: toRem(100);
        }

        @include min-screen(1200px) {
            font-size: toRem(70);
            font-weight: 400;
        }
    }

    &__data {
        width: 100%;
        @include flex-setting(column, center, flex-start);
        gap: toRem(12);
        padding: toRem(62) toPc(47px, 336px) toRem(62) toPc(17px, 336px);
        border: toRem(1) solid var(--light-color);

        @include min-screen(740px) {
            padding: toRem(65) toRem(78) toRem(68) toRem(78);
            gap: toRem(23);
            margin-bottom: toRem(60);
        }
    }

    &__text {
        @include font-setting(var(--primary-font), toRem(14), 170%, 400, var(--black-color));

        @include min-screen(740px) {
            font-size: toRem(17);
            line-height: 160%;
        }

        &--cta {
            height: auto;
            display: inline-flex;
            align-items: center;
            gap: toRem(10);
            color: var(--medium-color);
        }

        &-icon {
            width: toRem(16);
            height: toRem(16);
        }

        &-link {
            color: var(--dark-color);
            font-weight: 700;
            text-decoration: none;
        }
    }

    &__tel {
        @include font-setting(var(--primary-font), toRem(30), 110%, 700, var(--medium-color));
        text-decoration: none;

        @include min-screen(740px) {
            font-size: toRem(40);
        }

        @include min-screen(1200px) {
            font-size: toRem(50);
            font-weight: 500;
            transition: 0.2s var(--cubic);
            
            &:hover {
                opacity: 0.7;
                transition: 0.2s var(--cubic);
            }
        }
    }

    &__divider {
        @include font-setting(var(--primary-font), toRem(30), 110%, 700, var(--medium-color));
        padding-left: toRem(30);

        @include min-screen(740px) {
            font-size: toRem(40);
            margin-bottom: toRem(60);
        }

        @include min-screen(1200px) {
            font-size: toRem(50);
            padding-left: toRem(79);
            font-weight: 500;
        }
    }

    &__list {
        counter-reset: num;
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        gap: toRem(12);

        @include min-screen(740px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: stretch;
        }

        @include min-screen(1200px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item {
        position: relative;
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        gap: toRem(20);
        padding: toRem(82) toRem(18) toRem(46) toRem(18);
        background-color: var(--white-color);

        &:first-of-type {
            padding-bottom: toRem(20);
        }

        @include min-screen(740px) {
            padding: toRem(126) toRem(33) toRem(37) toRem(34);
            gap: toRem(28);

            &:last-of-type {
                grid-column: 1 / 3;
            }
        }

        @include min-screen(1200px) {
            &:last-of-type {
                grid-column: 3 / 4;
            }
        }

        &::after {
            counter-increment: num;
            content: counter(num) '';
            position: absolute;
            left: toRem(18);
            top: toRem(30);
            display: inline-block;
            @include font-setting(var(--primary-font), toRem(14), 160%, 700, var(--medium-color));

            @include min-screen(740px) {
                font-size: toRem(17);
                top: toRem(55);
                left: toRem(34);
            }
        }
    }

    &__download {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        &-icon {
            width: toRem(19);
            height: toRem(22);
        }
    }
}