mixin order(data = {})
  -
    const {

    } = data;
  section.order#order
    h2.order__title Как оставить заявку?

    .order__data
      span.order__text.order__text--cta 
        svg.order__text-icon
          use(xlink:href="#icon-tel")
        | Просто позвоните нам по номеру
      a(href="tel:89851561714" target="_self").order__tel +7 985 156 17 14
    b.order__divider или
    ol.order__list
      li.order__item
        p.order__text Скачайте анкету
        a(href="#" target="_self").button.button--dark.order__download
          | Скачать анкету .doc
          svg.order__download-icon
            use(xlink:href="#icon-arrow-down")
      li.order__item
        p.order__text Заполните анкету
      li.order__item
        p.order__text 
          | Пришлите заполненную анкету на наш email: 
          a(href="mailto:info@balanceme.ru" target="_blank").order__text-link info@balanceme.ru 
          | и мы с вами свяжемся в кратчайшие сроки