.button {
    @include flex-setting(column, center, center);
    width: auto;
    padding: toRem(23) toRem(30);
    @include font-setting(var(--primary-font), toRem(13), toRem(16), 500, var(--white-color));
    text-decoration: none;
    border: toRem(1) solid transparent;
    transition: 0.2s var(--cubic);

    @include min-screen(740px) {
        border-width: toRem(2);
        padding: toRem(24) toRem(48) toRem(22) toRem(48);
    }

    &--dark {
        background-color: var(--dark-color);
        border-color: var(--dark-color);

        &:active {
            border-color: var(--black-color);
            background-color: var(--black-color);
            transition: 0.2s var(--cubic);
        }

        @include min-screen(1200px) {
            &:hover {
                background-color: var(--black-color);
                border-color: var(--black-color);
                transition: 0.2s var(--cubic);
            }
        }
    }

    &--light {
        background-color: var(--bg-color);
        color: var(--medium-color);
        border-color: var(--outline-gray-border);

        &:active {
            color: var(--light-color);
            border-color: var(--bg-color);
            background-color: var(--darkblue-color);
            transition: 0.2s var(--cubic);
        }

        @include min-screen(1200px) {
            &:hover {
                border-color: var(--white-color);
                background-color: var(--white-color);
                transition: 0.2s var(--cubic);
            }
        }
    }

    &__icon {
        width: toRem(20);
        height: toRem(20);
        fill: var(--light-color);
        transition: 0.2s var(--cubic);
    }

    &__label {
        @include font-setting(var(--primary-font), toRem(13), normal, 400, var(--light-color));
		transition: 0.2s var(--cubic);
    }
}