.about {
	position: relative;
	width: 100%;
	@include flex-setting(column, flex-start, flex-start);
	background-color: var(--black-color);
	padding: toRem(255) toPc(12px, 360px) toRem(110) toPc(12px, 360px);

	@include min-screen(740px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0 toPc(46px, 740px) toRem(220) toPc(46px, 740px);
	}

	@include min-screen(1200px) {
		padding-left: toRem(46);
		padding-right: toRem(46);
		margin-bottom: toRem(100);
	}

	&__frame {
		position: absolute;
		top: toRem(-27);
		left: toPc(-12px, 360px);

		@include min-screen(740px) {
			position: static;
			width: fit-content;
			grid-column: 1 / 3;
			grid-row: 1 / 2;
			transform: translateY(toRem(-56));
			width: toRem(494);
			height: toRem(333);
		}
	}

	&__data {
		width: 100%;
		@include flex-setting(column, flex-start, flex-start);
		gap: toRem(24);

		@include min-screen(740px) {
			max-width: toPc(660px, 1200px);
			grid-column: 1 / 3;
			grid-row: 2 / 3;
			gap: 0;
			justify-self: end;
		}

		@include min-screen(1200px) {
			max-width: toRem(660);
		}
	}

	&__title {
		@include font-setting(var(--primary-font), toRem(36), 110%, 500, var(--white-color));
        text-align: left;
        margin-bottom: toRem(8);

		@include min-screen(740px) {
			font-size: toRem(56);
			margin-bottom: toRem(52);
		}

		@include min-screen(1200px) {
			font-size: toRem(70);
			font-weight: 400;
		}
	}

	&__description {
		@include font-setting(var(--primary-font), toRem(14), 170%, 300, var(--white-color));
        text-align: left;

		&--highlight {
			font-weight: 700;
		}

		@include min-screen(740px) {
			font-size: toRem(15);
			line-height: 160%;

			* > &:not(:last-of-type) {
				margin-bottom: toRem(28);
			}
		}
	}

	&__list {
		width: 100%;
		@include flex-setting(column, flex-start, flex-start);
		padding-left: toRem(17);
		margin: toRem(50) 0 toRem(80) 0;
		gap: toRem(20);
		border-left: toRem(1) solid var(--white-color);

		@include min-screen(720px) {
			padding-left: toRem(23);
			margin: toRem(82) 0 toRem(141);
			gap: toRem(28);
		}
	}

	&__item {
		width: 100%;
	}

	&__cta {
		width: 100%;
		@include flex-setting(column, flex-start, flex-start);
		gap: toRem(40);

		@include min-screen(740px) {
			max-width: toPc(880px, 1000px);
			grid-column: 1 / 3;
			grid-row: 3 / 4;
			gap: toRem(76);
		}

		@include min-screen(1200px) {
			max-width: toRem(880);
		}
	}

	&__subtitle {
		@include font-setting(var(--primary-font), toRem(30), 110%, 500, var(--white-color));
        text-align: left;

		@include min-screen(740px) {
			font-size: toRem(40);
		}

		@include min-screen(1200px) {
			font-size: toRem(50);
		}
	}

	&__link {
		background-color: transparent;
		color: var(--white-color);

		&:active {
			background-color: var(--white-color);
			border-color: var(--white-color);
			color: var(--black-color);
			transition: 0.2s var(--cubic);
		}

		@include min-screen(1200px) {
			&:hover {
				background-color: var(--white-color);
				border-color: var(--white-color);
				color: var(--black-color);
				transition: 0.2s var(--cubic);
			}
		}
	}
}