.intro {
    width: 100%;
    @include flex-setting(column, flex-start, flex-start);
    padding: toRem(54) toPc(12px, 360px);
    gap: toRem(34);

    @include min-screen(740px) {
        display: grid;
        grid-template-columns: 1fr;
        padding: toRem(40) toPc(46px, 740px);
    }

    @include min-screen(1200px) {
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        padding: toRem(192) toRem(46) toRem(70) toRem(46);
        margin-bottom: toRem(100);
    }

    &__data {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        gap: toRem(24);

        @include min-screen(1200px) {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            gap: toRem(28);

            .intro__description {
                margin-bottom: toRem(26);
            }
        }
    }

    &__title {
        @include font-setting(var(--primary-font), toRem(36), 110%, 500, var(--black-color));
        text-align: left;
        margin-bottom: toRem(6);

        @include min-screen(740px) {
            font-size: toRem(56);
        }

        @include min-screen(1200px) {
            font-size: toRem(70);
            max-width: toRem(600);
        }
    }

    &__description {
        @include font-setting(var(--primary-font), toRem(14), 170%, 400, var(--black-color));
        text-align: left;

        &--highlight {
            font-weight: 700;
        }

        @include min-screen(740px) {
            font-size: toRem(15);
        }

        @include min-screen(1200px) {
            max-width: toRem(554);
        }
    }

    &__controls {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        gap: toRem(9);

        @include min-screen(740px) {
            flex-direction: row;
            gap: toRem(16);
        }

        @include min-screen(1200px) {
            max-width: toRem(580);
            display: grid;
            grid-template-columns: 1fr 1fr;

            .intro__controls-btn {
                width: 100%;

                &:last-of-type {
                    width: fit-content;
                }
            }
        }
    }

    &__details {
        position: relative;
        width: 100%;
        padding: toRem(189) 0 toRem(176) 0;

        @include min-screen(740px) {
            padding: toRem(120) 0;
        }

        @include min-screen(1200px) {
            display: contents;
        }
    }

    &__list {
        position: relative;
        width: 100%;
        transform: translateZ(0);
        @include flex-setting(column, flex-start, center);
        gap: toRem(12);
        z-index: 2;

        @include min-screen(740px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: toRem(12);
            align-items: stretch;
        }

        @include min-screen(1200px) {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            min-height: toRem(486);
        }
    }

    &__item {
        width: 100%;
        position: relative;
        @include flex-setting(column, flex-start, flex-start);
        padding: toRem(98) toPc(40px, 336px) toRem(40) toPc(26px, 336px);
        background-color: var(--white-color);

        @include min-screen(740px) {
            padding: toRem(125) toRem(40) toRem(40) toRem(26);
        }

        @include min-screen(1200px) {
            position: absolute;

            &:first-of-type {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                top: 0;
                left: 0;
            }

            &:nth-of-type(2) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                left: 0;
                bottom: toRem(0);
            }

            &:nth-of-type(3) {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                right: 0;
                top: toRem(-120);
            }

            &:last-of-type {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                right: 0;
                bottom: toRem(72);
            }
        }

        .intro__description {
            font-weight: 300;
            
            @include min-screen(1200px) {
                font-weight: 400;
                line-height: 160%;
            }
        }

        &::after {
            position: absolute;
            content: '';
            top: toRem(40);
            left: toPc(26px, 336px);
            width: toRem(21);
            height: toRem(15);
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.534668 6.61642L7.52853 13.7266L19.5347 0.50415' stroke='%23B1DBE0' stroke-width='1.5'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__frame {
        position: absolute;
        z-index: auto;

        &--lg {
            top: toRem(0);
            right: toPc(-12px, 360px);

            @include min-screen(740px) {
                top: toRem(-64);
                right: toPc(-48px, 648px);
            }

            @include min-screen(1200px) {
                position: static;
                grid-column: 2 / 3;
                grid-row: 3 / 4;
                width: toRem(678);
                height: toRem(494);
                transform: translate(toRem(46),toRem(-146));
            }
        }

        &--sm {
            bottom: 0;
            left: toPc(-12px, 360px);

            @include min-screen(740px) {
                bottom: toRem(-48);
                left: toPc(-48px, 648px);
            }

            @include min-screen(1200px) {
                position: static;
                width: toRem(379);
                height: toRem(278);
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                align-self: end;
                justify-self: end;
                transform: translateY(toRem(42));
            }
        }
    }
}