include @/common/button/_button

mixin intro(data = {})
  -
    const {
      subtitle = 'Бухгалтерское обслуживание и кадровый учет',
      description = 'Полное сопровождение вашей бухгалтерии. <br>Учет первичных документов, сдача отчетности, коммуникация с налоговыми органами, СФР.',
      list = [],
      controls = []
    } = data

  section.intro
    .intro__data
      h1.intro__title= subtitle
      p.intro__description!= description
      .intro__controls
        a(href="#order" target="_self").button.button--dark.intro__controls-btn.intro__controls-btn--order
          | Подать заявку
          svg.intro__controls-icon
            use(xlink:href="#icon-arrow-right")
        a(href="#services" target="_self").button.button--light.intro__controls-btn Наши услуги
    .intro__details
      ul.intro__list
        each introItem in list
          li.intro__item
            p.intro__description!= introItem
      picture.intro__frame.intro__frame--lg
        source(media="(min-width: 1200px)" srcset="assets/images/intro-1-lg.webp 1x, assets/images/intro-1-lg_2x.webp 2x" type="image/webp")
        source(media="(min-width: 1200px)" srcset="assets/images/intro-1-lg.png" type="image/png" width="" height="")
        source(srcset="assets/images/intro-1-sm.webp 1x, assets/images/intro-1-sm_2x.webp 2x" type="image/webp")
        img(src="assets/images/intro-1-sm.png" width="" height="" alt="intro-image-1").intro__frame-img
      picture.intro__frame.intro__frame--sm
        source(media="(min-width: 1200px)" srcset="assets/images/intro-2-lg.webp 1x, assets/images/intro-2-lg_2x.webp 2x" type="image/webp")
        source(media="(min-width: 1200px)" srcset="assets/images/intro-2-lg.png" type="image/png" width="" height="") 
        source(srcset="assets/images/intro-2-sm.webp 1x, assets/images/intro-2-sm_2x.webp 2x" type="image/webp")
        img(src="assets/images/intro-2-sm.png" width="" height="" alt="intro-image-2").intro__frame-img