mixin footer(data = {})
  -
    const year = data.year || new Date().getFullYear()
    const company = 'BalanceMe'

  footer.footer
    a(href="index.html" target="_self").footer__logo
      img(src="assets/images/logo.png" width="158" height="29" alt="BalanceMe").footer__logo-img
    //- footer block
    .footer__policy
      ul.footer__list
        li.footer__list-item
          a(href="" target="_self").footer__list-link пользовательское соглашение
        li.footer__list-item
          a(href="" target="_self").footer__list-link политика конфиденциальности
      span.footer__copyright
        | © #{year} #{company}
    .footer__menu
      nav.footer__nav
        ul.footer__list
          li.footer__list-item
            a(href="#top" target="_self").footer__list-link главная
          li.footer__list-item
            a(href="#services" target="_self").footer__list-link услуги
          li.footer__list-item
            a(href="#about" target="_self").footer__list-link о компании
          li.footer__list-item
            a(href="#team" target="_self").footer__list-link команда
          li.footer__list-item
            a(href="#order" target="_self").footer__list-link заявка
          li.footer__list-item
            a(href="#contacts" target="_self").footer__list-link контакты

      ul.footer__list.footer__list--contacts
        li.footer__list-item
          a(href="tel:89851561714" target="_blank").footer__list-link.footer__list-link--tel
            svg.footer__list-icon
              use(xlink:href="#icon-tel")
            | +7 985 156 17 14
        li.footer__list-item
          a(href="mailto:info@balanceme.ru" target="_blank").footer__list-link.footer__list-link--mail 
            svg.footer__list-icon
              use(xlink:href="#icon-envelope")
            | info@balanceme.ru

      ul.footer__list.footer__list--social
        li.footer__list-item
          a(href="" target="_blank").footer__list-link.footer__list-link--vk
            svg.footer__list-icon
              use(xlink:href="#icon-vk-square")

        li.footer__list-item
          a(href="" target="_blank").footer__list-link.footer__list-link--dz
            svg.footer__list-icon
              use(xlink:href="#icon-dzen")
    a(href="#header" target="_self").footer__top 
      | вернуться наверх
      svg.footer__top-icon
        use(xlink:href="#icon-arrow-up")
    span.footer__origins разработка сайта GLADKOV COMPANY