include @/data/_data
include @/components/header/_header
include @/components/intro/_intro
include @/components/services/_services
include @/components/about/_about
include @/components/team/_team
include @/components/order/_order
include @/components/contacts/_contacts
include @/components/footer/_footer

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="robots" content="noindex")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=e777018c-96c0-4a89-840c-4fc583b8f883&lang=ru_RU" type="text/javascript" defer)
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">

    title Бухгалтерия
  body.body
    //- header
    +header({
      navList: [
        { name: 'Главная', link: '#header' },
        { name: 'Услуги', link: '#services' },
        { name: 'О компании', link: 'about' },
        { name: 'Команда', link: '#team' },
        { name: 'Заявка', link: '#order' },
        { name: 'Контакты', link: '#contacts' }
      ],
      phoneNr: '+7 965 156 17 14'
    })
    //- main
    main.main
      +intro({
        list: [
          '<span class="intro__description--highlight">Индивидуальный подход</span> к каждому, никакого обслуживания «на потоке».',
          'Опыт работы <span class="intro__description--highlight">более 20 лет</span>. Ведем&nbsp;учет профессионально и честно.',
          '<span class="intro__description--highlight">Только законные методы</span> налогового и кадрового учета с учётом специфики вашего бизнеса.',
          'Мы ведем учет <span class="intro__description--highlight">коммерческих и некоммерческих организаций</span> с любыми режимами налогообложения. '
        ],
        controls: [
          { href: '#order', text: 'Подать заявку', mod: 'dark', extraClass: 'intro__controls-btn' },
          { href: '#services', text: 'Наши услуги', mod: 'light', extraClass: 'intro__controls-btn' }
        ]
      })
      +servicesBlock({items: serviceItems})
      +about(aboutData)
      +team(teamData)
      +order()
      +contacts()
    //- footer
    +footer({
      company: 'LOREMIPSUM.NET',
      paymentList: [
        { icon: 'qiwi', name: 'Qiwi' },
        { icon: 'ymoney', name: 'Yandex Money' },
        { icon: 'wmoney', name: 'WebMoney' }
      ],
      contactsList: [
        { icon: 'message', name: 'info@loremipsum.net', link: 'mailto:info@loremipsum.net' },
        { icon: 'vk', name: 'Мы ВКонтакте', link: 'https://vk.com/loremipsum' }
      ]
    })
  
    script(type="module" src="main.js")