:root {
    --bg-color: #eff5f6;
    --white-color: #fff;
	--black-color: #171717;
	--dark-color: #034750;
	--medium-color: #005863;
	--light-color: #398793;
	--thin-color: #d9e8eb;
	--gray-color: #3c3b3b;
	--primary-font: 'Geologica', Arial, sans-serif;
	--cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
}