@import 'variables';
@import 'mixins';
@import 'functions';
@import 'fonts';
// common styles
@import '../common/button/button';
@import '../common/list-with-icons/list-with-icons';
@import '../common/step-list/step-list';
@import '../common/form/form';
@import '../common/input/input';
@import '../common/select/select';
// components
@import '../components/header/header';
@import '../components/nav/nav';
@import '../components/intro/intro';
@import '../components/services/_services';
@import '../components/about/_about';
@import '../components/team/_team';
@import '../components/order/order';
@import '../components/contacts/contacts';
@import '../components/footer/footer';

html {
  scroll-behavior: smooth;
  font-size: 16px;

  @include min-screen(1440px) {
    font-size: 1.1111111111111vw;
  }
}

body {
  position: relative;
  width: 100%;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.body {
}

.body.no-scroll {
  overflow: hidden;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}