.nav {
    width: 100%;
    @include flex-setting(column, flex-start, flex-start);
    border-left: toRem(1) solid var(--light-color);
    border-right: toRem(1) solid var(--light-color);

    @include min-screen(1200px) {
        border: none;
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        @include min-screen(1200px) {
            flex-direction: row;
            justify-content: center;
            gap: toRem(30);
        }
    }

    &__item {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: flex-start;
        border-top: toRem(1) solid var(--light-color);

        @include min-screen(1200px) {
            width: auto;
            border: none;
        }
    }

    &__link {
        width: 100%;
        padding: toRem(13) toPc(17px, 336px) toRem(40) toPc(17px, 336px);
        @include font-setting(var(--primary-font), toRem(18), 170%, 400, var(--white-color));
        text-decoration: none;
        text-align: left;
        text-transform: lowercase;
        transition: 0.3s var(--cubic);

        &:active {
            color: var(--light-color);
            transition: 0.3s var(--cubic);
        }

        @include min-screen(1200px) {
            position: relative;
            width: auto;
            padding: 0;
            color: var(--medium-color);
            font-size: toRem(15);
            padding-bottom: toRem(4.5);

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 50%;
                transform: translateX(-50%) scaleX(0);
                transform-origin: center;
                width: calc(100% + toRem(18));
                height: toRem(1);
                background-color: var(--medium-color);
                transition: 0.2s var(--cubic);
            }

            &:hover {
                &::after {
                    transform: translateX(-50%) scaleX(1);
                    transition: 0.2s var(--cubic);
                }
            }

            &:active {
                &::after {
                    transform: translateX(-50%) scaleX(0.2);
                    transition: 0.2s var(--cubic);
                }
            }
        }
    }
}