mixin contacts(data = {})
	-
		const {

		} = data;
	
	section.contacts#contacts
		.contacts__upper
			h2.contacts__title Как нас найти
			.contacts__data
				.contacts__line.contacts__line--address
					b.contacts__subtitle Адрес
					p.contacts__description Санкт-Петербург, улица Казанская, д.7, офис 4 
				.contacts__line.contacts__line--schedule
					b.contacts__subtitle Телефон
					a(href="tel:89851561714" target="_blank").contacts__description.contacts__description--link +7 985 156-17-14
					p.contacts__description Пн-Пт с 9:00 до 18:00
				.contacts__line.contacts__line--email
					b.contacts__subtitle Email
					a(href="mailto:info@balanceme.ru" target="_blank").contacts__description.contacts__description--link info@balanceme.ru
					p.contacts__description Мы стремимся отвечать на все сообщения в течение 24 часов
				.contacts__line.contacts__line--social
					b.contacts__subtitle Мы в соцсетях
					.contacts__links
						a(href="" target="_blank").contacts__description.contacts__description--link Вконтакте
						a(href="" target="_blank").contacts__description.contacts__description--link Дзен
			.contacts__map#map(style="width: 100%; height: 493px")
		.contacts__bottom
			h2.contacts__title Остались вопросы?
			.contacts__wrap
				.contacts__block
					span.order__text.order__text--cta Просто позвоните нам по номеру
					+button({
						tag: 'a',
						href: 'tel:89851561714',
						text: '+7 985 156 17 14',
						mod: 'link-lg',
						extraClass: 'contacts__tel',
						attrs: { target: '_self' }
					})
				p.contacts__info Наша команда готова помочь вам с понедельника по пятницу с 9:00 до 18:00