.contacts {
	width: 100%;
	@include flex-setting(column, flex-start, flex-start);

	&__upper {
		width: 100%;
		@include flex-setting(column, flex-start, flex-start);
		padding: toRem(152) toPc(16px, 360px) toRem(52) toPc(16px, 360px);
		background-color: var(--black-color);

		@include min-screen(740px) {
			padding: toRem(220) toPc(46px, 740px) toRem(60) toPc(46px, 740px);
		}

		@include min-screen(1200px) {
			padding-left: toRem(46);
			padding-right: toRem(46);
		}
	}

	&__title {
		@include font-setting(var(--primary-font), toRem(36), 110%, 500, var(--white-color));
		margin-bottom: toRem(45);
		text-align: left;

		@include min-screen(740px) {
			font-size: toRem(56);
			margin-bottom: toRem(60);
		}

		@include min-screen(1200px) {
			font-size: toRem(70);
			font-weight: 400;
		}
	}

	&__data {
		width: 100%;
		@include flex-setting(column, flex-start, flex-start);
		margin-bottom: toRem(30);
		border-left: toRem(1) solid var(--gray-color);
		border-right: toRem(1) solid var(--gray-color);

		@include min-screen(740px) {
			margin-bottom: toRem(60);
		}
	}

	&__line {
		width: 100%;
		@include flex-setting(column, space-between, flex-start);
		padding: toRem(15) toRem(18) toRem(39) toRem(18);
		border-top: toRem(1) solid var(--gray-color);

		&:last-of-type {
			border-bottom: toRem(1) solid var(--gray-color);
		}

		@include min-screen(740px) {
			display: grid;
			grid-template-columns: toRem(314) 1fr;
			padding: toRem(29) toRem(33) toRem(59) toRem(33);

			&--address {
				.contacts__description {
					max-width: 50%;
				}
			}

			&--schedule {
				.contacts__description--link {
					grid-column: 2 / 3;
					grid-row: 1 / 2;
				}

				.contacts__description--time {
					grid-column: 2 / 3;
					grid-row: 2 / 3;
				}
			}

			&--email {
				.contacts__description--link {
					grid-column: 2 / 3;
					grid-row: 1 / 2;
				}

				.contacts__description--note {
					grid-column: 2 / 3;
					grid-row: 2 / 3;
				}
			}
		}

		@include min-screen(1200px) {
			grid-template-columns: toRem(314) toRem(359) 1fr;

			&--address {
				.contacts__description {
					max-width: 100%;
				}
			}

			&--schedule {
				.contacts__description--time {
					grid-column: 3 / 4;
					grid-row: 1 / 2;
				}
			}

			&--email {
				.contacts__description--note {
					grid-column: 3 / 4;
					grid-row: 1 / 2;
				}
			}
		}
	}

	&__subtitle {
		margin-bottom: toRem(36);
		@include font-setting(var(--primary-font), toRem(14), 170%, 400, var(--white-color));
		
		@include min-screen(740px) {
			font-size: toRem(17);
			line-height: 160%;
			margin-bottom: 0;
		}
	}

	&__description {
		@include font-setting(var(--primary-font), toRem(14), 170%, 400, var(--white-color));
	
		&--link {
			text-decoration: none;

			@include min-screen(1200px) {
				position: relative;
				width: fit-content;
				padding-bottom: toRem(2);

				&::after {
                    position: absolute;
                    content: '';
                    height: toRem(1.5);
                    width: calc(100% + 1.125rem);
                    bottom: 0;
                    left: 0;
                    background-color: currentColor;
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: 0.2s ease-in;
                }

                &:hover {
                    &::after {
                        transform: scaleX(1);
                        transition: 0.2s ease-out;
                    }
                }
			}
		}

		@include min-screen(740px) {
			font-size: toRem(17);
			line-height: 160%;
			font-weight: 300;
		}
	}

	&__links {
		width: auto;
		@include flex-setting(column, flex-start, flex-start);
	}

	&__map {
		@include min-screen(740px) {
			height: toRem(500);
		}
	}

	&__bottom {
		width: 100%;
		@include flex-setting(column, flex-start, flex-start);
		padding: toRem(113) toPc(12px, 360px) toRem(94) toPc(12px, 360px);
		background-color: var(--dark-color);

		.contacts__title {
			margin-bottom: toRem(39);
		}

		@include min-screen(740px) {
			padding: toRem(220) toPc(46px, 740px) toRem(170) toPc(46px, 740px);

			.contacts__title {
				margin-bottom: toRem(60);
			}
		}

		@include min-screen(1200px) {
			padding-left: toRem(46);
			padding-right: toRem(46);
		}
	}

	&__wrap {
		width: 100%;
		@include flex-setting(column, flex-start, flex-start);
		padding: toRem(62) toPc(18px, 336px);
		border: toRem(1) solid var(--white-color);

		@include min-screen(740px) {
			padding: toRem(65) toRem(40) toRem(66) toRem(79);
		}

		@include min-screen(1200px) {
			display: grid;
			grid-template-columns: toRem(509) toRem(633);
			grid-template-rows: toRem(27) 1fr;
			row-gap: toRem(23);
			justify-content: space-between;
			align-items: start;
		}
	}

	&__text {
		@include font-setting(var(--primary-font), toRem(14), 170%, 400, var(--white-color));

		&--cta {
			margin-bottom: toRem(12);
		}

		@include min-screen(740px) {
			font-size: toRem(17);
			line-height: 160%;
		}

		@include min-screen(1200px) {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
	}

	&__tel {
		@include font-setting(var(--primary-font), toRem(30), 110%, 700, var(--white-color));
		text-decoration: none;
		margin-bottom: toRem(30);

		@include min-screen(740px) {
			font-size: toRem(40);
		}

		@include min-screen(1200px) {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			font-size: toRem(50);
			margin-bottom: 0;
			font-weight: 500;
			transition: 0.2s var(--cubic);
            
            &:hover {
                opacity: 0.7;
                transition: 0.2s var(--cubic);
            }
		}
	}

	&__info {
		@include font-setting(var(--primary-font), toRem(30), 110%, 500, var(--light-color));
		text-align: left;

		@include min-screen(740px) {
			font-size: toRem(40);
			font-weight: 300;
		}

		@include min-screen(1200px) {
			grid-column: 2 / 3;
			grid-row: 1 / 3;
			font-size: toRem(50);
			max-width: 80%;
		}
	}
}