-
	const serviceItems = [
		{
			title: "Бухгалтерия на аутсорсе",
			subitems: ["Регулярная отчетность", "Консультации по НДС"]
		},
		{
			title: "Налоговый учет и СФР",
			subitems: ["Подготовка налоговой отчетности", "Ведение учёта"]
		}
	];

-
	const aboutData = {
		title: 'О компании',
		descriptions: [
			'<span class="about__description--hjghlight">BALANCEME</span> предоставляет профессиональные бухгалтерские услуги и помогает вести кадровые документы российским и иностранным клиентам, работающим в России.',
			'Мы помогаем компаниям процветать, эффективно управляя их бухгалтерией и консультируя по вопросу кадровых документов.'
		],
		listItems: [
			'Мы работаем в сотрудничестве с опытными юристами и адвокатами, которые могут давать поддержку нашим клиентам.',
			'Помогаем поставить бизнес на ноги. Подберем оптимальный режим и возьмем на себя ведение бухгалтерии.',
			'Следим за трендами законодательства и налоговой практики.'
		],
		cta: {
			subtitle: 'Позвольте нам справиться со сложностями, чтобы вы могли сосредоточиться на своем росте.',
			button: {
				tag: 'a',
				href: '#services',
				text: 'Наши услуги',
				mod: 'light',
				extraClass: 'about__link',
				attrs: { target: '_self' }
			}
		}
	}

-
	const teamData = {
		members: [
			{
				srcWebp1x: "assets/images/team-1.webp",
				srcWebp2x: "assets/images/team-1_2x.webp",
				srcPng: "assets/images/team-1.png",
				alt: "Татьяна Водянникова фото",
				name: "Татьяна Водянникова",
				position: "Главный бухгалтер",
				descriptions: [
					"Более 20 лет опыта в бухгалтерском обслуживании бизнеса позволяют уверенно решать задачи любой сложности — от крупных транспортно-логистических компаний и морских линий до производственных и строительных предприятий.",
					"Прекрасно ориентируется во всех системах налогообложения (ОСНО, УСН, патент и др.), ведёт полный цикл бухгалтерского учёта, кадровый и зарплатный учёт, включая иностранных сотрудников.",
					"Работает с профессиональными программами: 1С: Бухгалтерия, 1С: ЗУП, СБИС, Контур Диадок, Калуга Астрал и др.",
					"Главный принцип — точность и надежность."
				]
			},
				{
				srcWebp1x: "assets/images/team-2.webp",
				srcWebp2x: "assets/images/team-2_2x.webp",
				srcPng: "assets/images/team-2.png",
				alt: "Юлия Ляшенко фото",
				name: "Юлия Ляшенко",
				position: "Бухгалтер",
				descriptions: [
					"Опытный и внимательный специалист, который в профессии с 1998 года. За это время она накопила богатый опыт ведения бухгалтерии компаний с различными системами налогообложения и направлениями деятельности.",
					"Профессионально ведет учет: от работы с первичными документами до формирования бухгалтерской и управленческой отчётности. Юлия также занимается кадровым учётом и расчётом заработной платы, обеспечивая стабильную и прозрачную работу компаний наших клиентов.",
					"Используемые программы: 1С: Бухгалтерия, 1С: ЗУП, СБИС, Контур Диадок, Калуга Астрал и др.",
					"Юлия ценит порядок и точность в каждом документе, а её клиенты — спокойствие и уверенность, что бухгалтерия под надёжным контролем."
				]
			}
		]
	}
